. {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
}

.card {
    background-color: rgb(247, 199, 138);
    color: rgb(241, 135, 6);
    width: 25%;
    height: 380px;
    padding: 16px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-block-end: 50px;
    border-radius: 10px;
    position: relative;
    border: 5px;
}

.card__imagen {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 25px;
}

.card__titulo {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 10px;
}

.card__parrafo {
    text-align: center;
    font-size: 13px;
    color: rgb(250, 163, 49)
}

.card__absolute {
    position: absolute;
    background-color: rgb(250, 180, 94);
    color: aqua;
    padding: 1rem 1rem;
    top: 1rem;
    right: 1rem;
    border-radius: 10px;
}

.seccion {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;

}

body {
    font-family: 'Kurale', serif;
}

.color-texto {
    color: rgb(214, 122, 46)
    
}

.p {
    color: rgb(240, 176, 99)
}
a {
    color: rgb(179, 126, 12)
}

.fuente-grande {
    font-size: 25px;
}

.div {
    color: rgb(253, 95, 4);
}

.propiedades-texto {
    color: rgb(241, 11, 11);
    font-size: 15px;
    font-family: 'Text Me One', sans-serif;
    padding: 16px;
    margin-bottom: 16px;

}

.propiedades-fondo {
    background-color: rgb(250, 241, 228);
    justify-content: center;
}

.header {
    background-color: rgb(243, 207, 160);
    color: rgb(185, 151, 105);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 35;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;    
}
.header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header__icono {
    font-size: 30px;
    color: rgb(182, 103, 7);
    display: none;
    text-decoration: none;
   

}
.header__logo {
    width: 35px;
    height: 35px;
}
.main {
    margin-top: 10px;
    min-height: 50vh;
    padding: 5rem;
    justify-content: center;
}

.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-left: 0%;
    margin-bottom: 0%;
}

.nav__item {
    margin-left: 16px;

}
nav {
    gap: 2rem;

}
.inicio1__izq {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.inicio1__der {
    width: 50%;
}
.inicio1__ilustracion {
    width: 400px;
    height: 400px;
    
}
.whatsapp {
    background-color: green;
    color: blanchedalmond;
    width: 100px;
    padding: 0.5rem 1rem;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
}

.footer {
    background-color: rgb(243, 207, 160);
    color: rgb(185, 151, 105);
    margin-top: 100px;
    padding: 1rem 1rem;

}
.footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
}
.footer__lista {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;

}

.inicio1 {
    background-image: url(../floressecas1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
   
}
.inicio2__titulo {
    background-color: #f3cf31;
    padding: 1rem;
    transition: padding 2s, transform 1s;
    flex-direction: column;

}
.inicio2__titulo:hover {
    
    background-color: #e4bc0b;
    transform: rotate(360deg);
}

.inicio2 {
    height: 50%;
    height: 50vh;
    background-image: linear-gradient(to right top, #f0e6cc, #efe1c4, #eddcbb, #edd7b3, #ecd2ab, #ecd1a6, #eccfa0, #ecce9b, #ecd096, #ecd392, #ebd58d, #e9d889);
    padding: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2 {
    font-family: 'Sofia', cursive;
    font-family: 'Text Me One', sans-serif;
    text-align: center;
}

.felx {
    display: flex;
    list-style: none;
}
.grid {
    border: 8px orange;
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
        "img1 img2 img2"
        "img3 img3 img4"
        "img5 img6 img4";
    justify-items: stretch;
    align-items: stretch;
    gap: 1rem;    
}

.grid__hijo {
    border-radius: 10px;
    overflow: hidden;
}

.grid__hijo--1 {
    grid-area: img1;
}

.grid__hijo--2 {
    grid-area: img2;
}

.grid__hijo--3 {
    grid-area: img3;
}

.grid__hijo--4 {
    grid-area: img4;
}

.grid__hijo--5 {
    grid-area: img5;
}

.grid__hijo--6 {
    grid-area: img6;
}

.grid__img {
    width: 95%;
    height: 95%;
    object-fit: cover;
}
.nav__item--oculto {
    display: none;
}

.carousel-item img {
    height: 700px;
    object-fit: cover;
    padding: 80px;
    margin-bottom: 26px;
}
.tracking-out-expand-fwd-top {
	-webkit-animation: tracking-out-expand-fwd-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    display: inline-block;
}
.contacto__mapa {
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width:1032px) {
    .seccion {
        text-align: left;
    }
}
@-webkit-keyframes tracking-out-expand-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px) translateY(-200px);
              transform: translateZ(300px) translateY(-200px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px) translateY(-200px);
              transform: translateZ(300px) translateY(-200px);
      opacity: 0;
    }
  }
  

@media screen and (max-width:599px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (6, 200px);
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6";
        align-content: stretch;    
        height: auto;

    }
    
    .header__icono {
        display: block;
    }

    .card {
        display: flex;
        width: 100%;
    }

    .card__imagen {
        width: 80px;    
        height: 80px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .nav {
        display: none;
        position: fixed;
        z-index: 1000000;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        
    }
    .nav__lista {
        flex-direction: column;
    }
    .nav:target {
       display:  block;
    }
    .nav__item--oculto {
        display: block;
    }
    .inicio1 {
        flex-direction: column;
    }
    .inicio1__der {
        width: 100%;
    }
    .inicio1__izq {
        width: 100%;
    }
    .main {
        flex-direction: column;
        width: 100%;
    }
}