.footer {
    background-color: rgb(243, 207, 160);
    color: rgb(185, 151, 105);
    margin-top: 100px;
    padding: 1rem 1rem;
  
  }
  .footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
  }
  .footer__lista {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  
  
  }